*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%;
    --color-base-white:white;
    --color-base-gray-100: #f5f5f5;
    --color-base-gray-300:#8d8d99;
    --color-base-gray-900:#202024;

    font-family: 'Mulish', sans-serif;
}

body{
    font-size: 1.6rem;
    background: var(--color-base-white);}


#app{
    display:grid;
height: 100vh;
    grid-template-rows:max-content 1fr max-content ;
}

.container{
    padding: 1.6rem 3.2rem ;
    width: min(112rem, 100%);
    margin:0 auto ;

}

header{
    display: flex;
    gap: 7.2rem;
    align-items: center;
}
header form{
    flex: 1;
}

#almeida{
height: 4.2rem;
width: 4.2rem;
}


 p{
    font-size: 1.8rem;
    color: var(--color-base-gray-300);
    cursor: pointer;
 }

 #action{
    color: var(--color-base-gray-900);
 }

.input-wrapper label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input{
    height: 4.8rem;
    width: 100%;
    padding-left: 1.6rem;
    
background: var(--color-base-gray-100);
    border: none;
    border-radius: 5px;

    font-weight: 600;
}

.input-wrapper::placeholder{
    color: #3d3d3d;
    opacity: 0.56%;
}

/*galeria*/
main{
    background: var(--color-base-gray-100);
}

main h1{
    padding-top: 1.6rem;
    font-size: 2.4rem;
}

#galeria{
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.2rem;
}
.card{
    background: var(--color-base-white);
    border-radius: .8rem;
    overflow: hidden;

}
.card img{
width: 100%;
aspect-ratio: 12/9;
object-fit: cover;

transition-duration: 0.3s;
transition-property: all;
transition-timing-function: ease-in-out;



}

.card img:hover{
    filter: hue-rotate(7deg) contrast(101%) saturate(150%);
    transform: scale(1.1) rotate(-2deg);
}

 .details{
    padding: 2.2rem;
    background-color: var(--color-base-white);
z-index: 1;
position: relative;

 }

 .details h2{
    font-size: 1.8rem;
 }

 .tags{
    margin-top: 1.2rem;
 }

.tags span{
    padding: .6rem;
    background-color: var(--color-base-gray-100);
    border-radius: .4rem;

    line-height: 0;
    font-size: 1.2rem;
    
}


header{
    --startY:-100%;
    animation: move .2s;
}

 footer{
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
    padding: 1.6rem;

    --startY:100%;
animation: move .2s;
     }
    


    
     @keyframes move{
        0%{
         transform: translateY(var(--startY));
        }
    
     }

@keyframes appear{
0%{
opacity: 0;
transform: scale(0.7);

}


}

.card {
    --delay:.4s;
    animation: appear .4s  var(--delay) backwards;
}

@media (max-width:1000px){
    #galeria{
       grid-template-columns: repeat(2 ,1fr);
    }
   }
   
   @media (max-width:768px){
    .input-wrapper input{
        height: 4.8rem;
        width: 25rem;
        padding-left: 1.6rem;}
   }

   @media (max-width:425px){
    #galeria{
       grid-template-columns: repeat(1 ,1fr);
      
    }
   }